<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263336422388-o3nm3p2i3urits7k5p5rct669gpdg57v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263336422388-o3nm3p2i3urits7k5p5rct669gpdg57v</string>
	<key>API_KEY</key>
	<string>AIzaSyBvO-b35pRYRJwxfXkjjg7GlQOrO4BqJxM</string>
	<key>GCM_SENDER_ID</key>
	<string>263336422388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLivestreamMlVisionExample</string>
	<key>PROJECT_ID</key>
	<string>github-contribution</string>
	<key>STORAGE_BUCKET</key>
	<string>github-contribution.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:263336422388:ios:8ae72dbbaaecfa17</string>
	<key>DATABASE_URL</key>
	<string>https://github-contribution.firebaseio.com</string>
</dict>
</plist>
